html,
body {
    height: 100%;
}
/* main vars */
:root {
    --main-bg-color: #093028;
    --main-bg-gradient-color: #237A57;
    --main-font-color: #FFFFFF;
    --main-font-hover-color: #000000;
    --main-font-size: 18px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* My new styles */

.signin_form, .signup_form {
    max-width: 500px;
}

.form_btns {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

rect.tables:hover {
    fill: #DCDCDC;
    transition: 1s;
}

rect#table-1 {
    /*display: none !important;*/
}
/* after pause */

.custom-header-navbar {
    background: var(--main-bg-color);
    background: -webkit-linear-gradient(to right, var(--main-bg-gradient-color), var(--main-bg-color));
    background: linear-gradient(to right, var(--main-bg-gradient-color), var(--main-bg-color));
    border: var(--main-bg-color);
}

.custom-header-navbar .navbar-header a, .custom-header-navbar .navbar-nav > li a,
.custom-header-navbar .navbar-nav > li button {
    color: var(--main-font-color);
    font-size: var(--main-font-size);
}

.custom-header-navbar .navbar-header a:hover, .custom-header-navbar .navbar-nav > li a:hover,
.custom-header-navbar .navbar-nav > li button:hover {
    color: var(--main-font-hover-color);
    transition: 0.5s;
}

.custom-footer {
    background: var(--main-bg-color);
    background: -webkit-linear-gradient(to left, var(--main-bg-gradient-color), var(--main-bg-color));
    background: linear-gradient(to left, var(--main-bg-gradient-color), var(--main-bg-color));
    border: var(--main-bg-color);
}

body .container button.action-btn {
    background-color: var(--main-bg-gradient-color);
    border: 1px solid var(--main-bg-gradient-color);
    color: var(--main-font-color);
}

body .container .second_btn {
    padding: 6px 12px;
}

.navbar-inverse .navbar-nav > .auth.active a, .navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: inherit;
}